<h3>Please Log In</h3>
<div class="row">
    <div class="social-buttons">
        <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
        <a class="btn btn-block btn-social btn-facebook" (click)="loginVia($event, 'facebook')">
            <span class="fa fa-facebook"></span> Sign in with Facebook
        </a>

        <a class="btn btn-block btn-social btn-google" (click)="loginVia($event, 'google')">
            <span class="fa fa-google"></span> Sign in with Google
        </a>
    </div>
</div>
<div class="login-or">
    <hr class="hr-or">
    <span class="span-or">or</span>
</div>

<form [formGroup]="form" role="form" (ngSubmit)="login()" novalidate>
    <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label for="email">Email</label>
        <input [formControl]="email" required type="text" class="form-control" id="email" name="email">
        <div class="help-block">
            <ul class="list-unstyled">
                <li *ngIf="email.valid || email.pristine">Enter your email address</li>
                <li *ngIf="email.dirty && email.hasError('required')">An email address is required</li>
            </ul>
        </div>
    </div>
    <div class="form-group" [class.has-error]="password.invalid && password.touched">
        <label for="password">Password</label>
        <input [formControl]="password" type="password" class="form-control" id="password" name="password">
        <div class="help-block">
            <ul class="list-unstyled">
                <li *ngIf="password.valid || password.pristine">Enter your password</li>
                <li *ngIf="password.dirty && password.hasError('required')">A password is required</li>
            </ul>
        </div>
    </div>
    <button type="submit" class="btn btn btn-primary">
        Log In
    </button>
    <button type="button" class="btn btn btn-info" (click)="naviateToregister()">
        Register
    </button>
</form>
